* {
        font-family: 'Outfit', sans-serif;
}

body {
    background-color: hsl(212, 45%, 89%);
}

.container {
    background-color: hsl(0, 0%, 100%);
    font-size: 15px;
    text-align: center;
    margin: auto;
    padding: 10px;
    width: 12%;
    border-radius: 15px;
    position: absolute;
    left: 45%;
    top: 20%;

}

img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 15px;
}

h1 {
    font-weight: 700;
}

.description {
    font-weight: 400;
    color: hsl(220, 15%, 55%);
}
